//banner
.banner {
    height: calc(100vh - 64px);
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true);
    
    &__title {
        @include media-breakpoint-down(sm) {
          font-size: 32px;
        }
    }

    &__text {
        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }
    }

    .custom-btn {
        font-size: 28px;
    }
}

//directions
.directions {
    &__img {
        width: 100%;
        &--normal {
            height: 350px;
        }
        &--lg {
            height: 680px;
        }
    }

    &__content {
        padding-top: 8px;
        padding-bottom: 32px;
    }
    
    .custom-btn {
        font-size: 20px;
    }
    @include media-breakpoint-up(md) {
        &__img {
            &--normal {
                height: 555px;
            }
            &--lg {
                height: 1080px;
            }
        }

        &__content {
            max-width: percentage(350/555);
        }
    }
}

//product
.product {
    a {
        background-color: transparent;
    }
    .product-img {
        width: 100%;
        object-position: bottom;
        height: 350px;
        @include media-breakpoint-up(md) {
            height: 540px;
        }
    }
}
