//main
.product-img {
    width: 100%;
    object-position: center;
    height: 165px;
    @include media-breakpoint-up(md) {
      height: 255px;
    }
}

.card-header-hover {
    position: relative;
    &:before {
        content: '查看更多';
        position: absolute;
        color: #fff;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .4s;
        z-index: 1;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(#000, .7);
        opacity: 0;
        transition: .2s;
        z-index: 0;
    }
    &:hover:before,&:hover:after {
        opacity: 1;
    }
    &:hover:before {
        top: 55%;
    }
}



//subscribe
.subscribe {
    background-image: url('https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index10.jpg?raw=true');
    height: 600px;
    padding-top: 312px;

    &__input {
        border: 2px solid $primary;
    }
}