<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <!-- Material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- aos -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- all.css -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid container-md">
      <h1 class="navbar-logo ml-4 ml-md-0 mb-0">
        <a href="index.html">D'Perfume 香水電商網站</a>
      </h1>

      <!-- Burger menu star-->
      <a href="#" class="text-secondary d-inline-block d-md-none ml-auto mr-3 position-relative">
        <span class="material-icons">shopping_cart</span>
        <span class="badge badge-pill badge-primary position-absolute" style="top:-5px;right:-15px">3</span>
      </a>

      <button class="navbar-toggler py-2 px-3 ml-2" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="position-relative" style="height:40px; width:40px">
          <span class="toggler-bar toggler-bar-top"></span>
          <span class="toggler-bar toggler-bar-middle"></span>
          <span class="toggler-bar toggler-bar-bottom"></span>
        </div>
      </button>
      <!-- Burger menu end-->

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="products.html" class="nav-link h5 text-center py-3 py-md-2 mr-md-3">
              <span class="material-icons d-none d-md-inline-block">store</span>Product
            </a>
          </li>

          <li class="nav-item">
            <a href="login.html" class="nav-link h5 text-center py-3 py-md-2 mr-md-3">
              <span class="material-icons d-none d-md-inline-block">person</span>log in
            </a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link h5 text-center py-3 py-md-2 mr-md-3">
              <span class="material-icons d-none d-md-inline-block">favorite</span>Wishlist
            </a>
          </li>

          <li class="nav-item d-block d-md-none">
            <a class="nav-link h5 text-center py-3 py-md-2 mr-md-3" href="#">
              Blog
            </a>
          </li>

          <li class="nav-item d-block d-md-none">
            <a class="nav-link h5 text-center py-3 py-md-2 mr-md-3" href="#">
              Contact
            </a>
          </li>

          <li class="nav-item d-none d-md-block">
            <a href="#" class="nav-link h5 text-center py-3 py-md-2">
              <span class="material-icons">shopping_cart</span>Cart(3)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>

    <footer class="bg-primary py-4">
      <div class="container d-flex">
        <div class="d-flex align-items-center">
          <a href="#">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png"
              alt="logo">
          </a>

          <p class="text-white font-size-sm ml-4">© 2020. All Rights Reserved.</p>
        </div>

        <ul class="nav ml-auto list-unstyled d-none d-md-flex">
          <li class="nav-item">
            <a href="products.html" class="nav-link text-white h5">Product</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link text-white h5">Blog</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link text-white h5">Contact</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- aos -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>