<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- aos -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <!-- all.css -->
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light sticky-top">
      <div class="container-fluid container-md">
        <h1 class="navbar-logo">
          <a href="index.html">D'Perfume 香水電商網站</a>
        </h1>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="products.html" class="nav-link h5 text-center py-3 py-md-2 mr-md-3">
                <span class="material-icons">store</span>Product
              </a>
            </li>

            <li class="nav-item">
              <a href="login.html" class="nav-link h5 text-center py-3 py-md-2 mr-md-3">
                <span class="material-icons">person</span>log in
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link h5 text-center py-3 py-md-2 mr-md-3">
                <span class="material-icons">favorite</span>Wishlist
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link h5 text-center py-3 py-md-2">
                <span class="material-icons">shopping_cart</span>Cart(3)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="bg-primary py-4">
      <div class="container d-flex">
        <div class="d-flex align-items-center">
          <a href="#">
            <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png" alt="logo">
          </a>

          <p class="text-white font-size-sm ml-4">© 2020. All Rights Reserved.</p>
        </div>

        <ul class="nav ml-auto list-unstyled">
          <li class="nav-item">
            <a href="products.html" class="nav-link text-white h5">Product</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link text-white h5">Blog</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link text-white h5">Contact</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- aos -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>